.library {
	position: fixed;
	top: 0;
	width: 20rem;
	height: 100%;
	left: 0;
	overflow: scroll;
	h2 {
		padding: 2rem;
	}
}
.library-song {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 1rem;
	padding: 1rem 2rem;
	&:hover {
		background-color: rgb(199, 199, 226);
	}
	img {
		width: 30%;
	}
	h3 {
		font-size: 1rem;
	}
	h4 {
		font-size: 0.7rem;
	}
}
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.7);
	border-radius: 20px;
	border: transparent;
}
